.inputColor {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  width: 50px;
  height: 30px;
  border-radius: 4px;
}

.inputColor::-webkit-color-swatch-wrapper {
  padding: 0;
}

.inputColor::-webkit-color-swatch {
  border: 1px solid #ffffff;
  border-radius: 4px;
}
