.form__heroCharacterization {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form__counter {
  display: flex;
  justify-content: space-between;
}

.form__counterColor {
  color: #6b6b6b;
}

.textarea {
  width: 100%;
  padding: 19px;
  resize: none;
  box-sizing: border-box;
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: none;
  color: #ffffff;
}
