.cardsList {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 3vh;
}

.cardsList .card:not(:last-child) {
  margin-right: 25px;
}

.cardsList .card {
  transition: transform 0.3s ease-in-out;
}

.cardsList .card:hover {
  transform: translateY(-10px);
}

.cardsList_noMatches {
  height: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
