.colors {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.colors__flexbox {
    display: flex;
    align-items: center;
}

.colors__flexbox label {
    margin-left: 15px;
}