.newHeroModal {
  height: 100%;
}
.wrapper_flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.separator {
  height: 651px;
  margin: 0 27px;
}

.modalForm {
  max-width: 445px;
}

.photoColorWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
}

.errors {
  width: inherit;
  color: red;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.saveFormBtn {
  position: absolute;
  bottom: 45px;
  right: 30px;
}
