.description {
  padding: 4% 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.field {
  display: flex;
  justify-content: space-between;
}

.field:not(:last-child) {
  padding-bottom: 4%;
  border-bottom: 1px solid #ffffff;
}

.field:not(:first-child) {
  padding-top: 4%;
}
