.modalFormView {
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

.paginationAddHero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.views span:not(:last-child) {
  padding-right: 10px;
}

.paginationAddHero__dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewsContainer {
  display: flex;
  justify-content: center;
  width: 458px;
  height: 297px;
  border-radius: 4px;
  overflow: hidden;
  margin: 20px 0;
}

.viewCard {
  width: 254px;
  height: 297px;
  border-radius: 4px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.viewCardHeroName {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

.viewCardPhoto {
  height: 72%;
  width: 100%;
}

.viewCardPhoto img {
  object-fit: cover;
  object-position: 70%;
  width: 100%;
  height: 100%;
}

.viewCardParameters {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.viewHeroModal {
  display: flex;
  width: 458px;
  height: 297px;
  background-color: #ffffff;
  position: relative;
}

.viewHeroModal_characterization {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 10px;
  width: 50%;
  height: 100%;
}

.viewHeroModalPhoto {
  height: 100%;
  width: 100%;
}

.viewHeroModalPhoto img {
  object-fit: cover;
  object-position: 70%;
  width: 100%;
  height: 100%;
}

.viewCardHeroDescription {
  width: 100%;
}
