.form__photoContainer {
  width: 187px;
  height: 211px;
  border: 1px solid #3fc4fd;
  border-radius: 4px;
  position: relative;
}

.form__photoInputHidden {
  position: relative;
  bottom: 8px;
  left: 9px;
  position: absolute;
  width: 90%;
  height: 32px;
}

.form__photoInputFake_text {
  position: absolute;
  bottom: 7px;
  left: 27px;
  z-index: 1;
  font-size: 18px;
}

.form__uploadedPhotoContainer {
  height: 100%;
  width: 100%;
}

.form__uploadedPhotoContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
