.label {
  display: block;
  margin-left: 20px;
  cursor: pointer;
}

label input[type='checkbox'] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.fake-checkbox {
  box-sizing: border-box;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  margin-left: -20px;
}

.fake-checkbox:hover {
  border: 1px solid #3fc4fd;
}

.input-checkbox {
  display: none;
}

.input-checkbox:checked + .fake-checkbox {
  border: none;
  background-image: url(../../../assets/images/checkboxsvg.svg);
}
