.previewPage__wrapper {
  border-top: 1px solid #ffffff;
  position: relative;
  height: 90vh;
  box-sizing: border-box;
  background: url('../../../assets/images/bg_2.png') no-repeat;
  background-size: 100% 100%;
}

.previewPage {
  max-width: 1398px;
  margin: 4vh auto;
  position: relative;
}

.previewBanner {
  max-width: 1280px;
  margin: 0 4vw;
  box-sizing: border-box;
}

.previewBanner h1 {
  margin: 0 0 4vh 0;
  text-align: center;
  font-size: 4vh;
}

.previewInfo {
  width: 100%;
}
