@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('../node_modules/normalize.css/normalize.css');
/* @import "normalize.css"; */

body {
  padding: 0;
  margin: 0 auto;
  max-width: 1920px;
  font-family: 'Roboto', serif;
  color: #ffffff;
  background-color: #000000;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}