.navbar__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  font-size: 24px;
}

.navbar__listItem:first-child {
  padding-left: 45px;
}

.navbar__listItem:not(:last-child) {
  padding-right: 69px;
}
